

ul {
  list-style-type: none;
  margin:-5px;
  padding: 1px;
  overflow: hidden;
  background-color: #f7f4fa;
  }
  
  li {
    float: left;

  }
  
  li a {
    display: block;
    color:black;
    padding: 70px;
    text-decoration: none;
}
li {
  float: left;
}

/* Links will change color when hovered over */
li a:hover {
    background-color: #7300ff;
}
#logo {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-top: 15px;    /* if you want it vertically middle of the navbar. */
  /* float:left; */
}
header .img .section1{
    background-image: url("/home/jack/Downloads/Toyota BusinessPlus - Our Range _ Toyota Motor Europe_files/logo.jpg");
    background-size:cover;
    background-attachment:fixed;
}
body {
    background-image: url("/home/jack/Downloads/Car world.jpg");
}
.section1{
    text-align: center;
    padding: 30px;
    background-color: black;
    background-image: url(./images/Car\ world.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    width: 2000px;
}

h1{
  color:white;
  padding-top:130px ;

}
.heads{
  color: white;
  text-decoration: none;
  text-align: center;

}
li h3{
  text-decoration: none;
  text-align: right;
  display: inline-block;
  padding-right: 150px;
  position:center;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 5px;
}
/* .images {
  height: 417px;
  width:626px ;

} */