/* ul {
  list-style-type: none;
  margin:1px;
  padding: 1px;
  overflow: hidden;
  background-color: #f7f4fa;
  } */
  *{
    overflow-x: hidden;
  }
  nav {
    background-color:#f7f4fa;
    margin: 0;
    overflow: hidden;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav ul li:not(:first-child) {
  float: right;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
}
  li {
    float: left;
    text-align: justify;
  }
  
  li a {
    display: inline-block;
    color:black;
    padding: 30px;
    text-decoration: none;
    
}
li {
  float: left;
}

/* Links will change color when hovered over */
li a:hover {
    background-color: #b98af1;
}
#logo {
  display: inline-block;
  vertical-align: top;
  width: 3.2em;
  height: 1.8em;
  padding: 0px;
  margin: 0px;    /* if you want it vertically middle of the navbar. */
  /* float:left; */
}
header .img .section1{
    background-image: url("/home/jack/Downloads/Toyota BusinessPlus - Our Range _ Toyota Motor Europe_files/logo.jpg");
    background-size:cover;
    background-attachment:fixed;
}
body {
    background-image: url("/home/jack/Downloads/Car world.jpg");
}
.section1{
    text-align: center;
    padding: 30px;
    background-color: black;
    background-image: url(./images/Car\ world.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    width: 2000px;
}

h1{
  color:white;
  padding:40px;

}
.heads {
  color: white;
  text-decoration: none;
  text-align: center;
  list-style-type: none;
  

}
li h3{
  display: inline-block;
  padding: 90px;
  position:center;
}
.heads li h3:hover{
background-color:grey;
}


* {
  box-sizing: border-box;
}

.row {
  display: flex;
  /* justify-content: space-around; */
}
.col-title{
  text-align: center;
}
/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 5em;
  padding-top: 2em;
}
.images {
  /* height: 100%;
  width:100% ; */
  /* justify-content: space-around; */
 

}